{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name...">
                    </div>

                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email...">
                    </div>
                </div>

                <div style="margin-left:40px" id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Adress...">
                    </div>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City...">
                    </div>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State...">
                    </div>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code...">
                    </div>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Province...">
                    </div>
                        
                </div>

                <hr>
                <input id="form-button"style="background-color:#61445f; color:white;padding:14px 100px; margin-left:300px" class="btn btn-outline-dark" type="submit" value="Continue">
            </form>
        </div>
        <br>
        <hr>

        <div class="box-element hidden" id="payment-info">
            <small style="margin-left:30px; font-size:15px">PAYMENT OPTION: </small>
            <label>
                <input  style="margin-left:500px"type="checkbox" checked="checked" name="sameadr"> ONLY CASH ON DELIVERY 
            </label>
                
             
            <hr>

            <button style="background-color:#778579; color:white;padding:14px 100px; margin-left:300px" class="btn btn-outline-dark" id="check-out" border-radius="50">CHECK OUT</button>
        </div>



        
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a style="margin-left:10px; background-color:#61445f; color:white;padding:14px 100px; margin-top:40px"class="btn btn-outline-dark" href="{% url 'cart' %}">Back to Cart</a>
            <hr>
            <h3 style="text-align:center">Order Summary</h3>
            <hr>
            {% for item in items %}
            <div style="display: flex; align-items: flex-stretch; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ececec"class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.image.url}}" width="80" height="40"></div>
                <div style="flex:2; padding:30px"><p>{{item.product.name}}</p></div>
                <div style="flex:1; padding:30px"><p>Rs.{{item.product.price}}</P></div>
                <div style="flex:1; padding:30px"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <hr>
            <h5>Items:{{order.get_cart_items}}</h5>
            <hr>
            <h5>Total: Rs.{{order.get_cart_total}}</h5>
            <hr>
        </div>
    </div>
</div>
<script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(
                name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken')
    var total = '{{order.get_cart_total}}'


    if (user !== 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
    }


    

    
    
    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('form submitted...')
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })
    document.getElementById('check-out').addEventListener('click', function(e){
        submitFormData()
    })
    function submitFormData(){
        console.log('Checkout button clicked')

        var userFormData ={
            'name':null,
            'email':null,
            'total':total,

        }
           
        var shippingInfo ={
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,


        }

        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.state = form.state.value
        shippingInfo.zipcode = form.zipcode.value

        if(user === 'AnonymousUser'){
            userformData.name = form.name.value
            userformData.email = form.email.value

        }

        console.log('shipping Info:', shippingInfo);
        console.log('User Info:', userFormData);


        var url= 'process_order/'
        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':userFormData , 'shipping':shippingInfo})

        })
        .then((response) => response.json())
        .then((data) =>{
            console.log('Success:', data);
            alert('Transaction completed')
            window.location.href = "{% url 'index' %}"

        })


        
    
    }






</script>

{% endblock content %}

